function isCouponStr(str) {
    return (str.indexOf('券') !== -1)
};

function isManJianStr(str) {
    return (str.indexOf('减') !== -1)
};

function getPriceStr(str) {
    if ('string' !== typeof str || str.length === 0) {
        return ('')
    };
    return (str.slice(1))
};

function priceToNum(str) {
    return (+getPriceStr(str))
};
module.exports = ({
    isCouponStr: isCouponStr,
    isManJianStr: isManJianStr,
    priceToNum: priceToNum,
    getPriceStr: getPriceStr,
});